#cards-container {
    margin-top: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index: 10;

    >div {
        height: 35rem;
        // width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

.card {
    height: 80%;
    width: 50%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
    margin: 10px 0;
}

#card1 {
    background-image: url(../../assets/mBenefits.jpeg);
}

#card2 {
    background-image: url(../../assets/recepies.jpeg);
}

#card3 {
    background-image: url(../../assets/cooking-tips.jpeg);
}

#card4 {
    background-image: url(../../assets/meal-plans.jpeg);
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: #95c11e;
    padding: 10px;
    padding-top: 10%;
    opacity: 0;
    transition: all ease 0.6s;
}

.overlay h4 {
    color: #000;
    font-size: 2rem;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 20px;
    font-weight: 800;
}

.overlay p {
    color: #000;
    font-size: 1rem;
}

.card:hover .overlay {
    opacity: 1;
}

.card:hover {
    transform: rotate3d(-1, 1, 0, 20deg);
}

@media screen and (max-width:965px) {
    #cards-container {
        flex-direction: column;
        gap: 20px;
    }

    .overlay h4 { 
        font-size: 1.5rem; 
    }

    .overlay p { 
        font-size: 0.9rem;
    }
}