#cursor {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #a3d421;
    position: fixed;
    z-index: 99;
    transition: all linear 0.1s;
}
#cursor-blur {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color:#a4d4219c;
    position: fixed;
    z-index: 9;
    filter: blur(50px);
    transition: all linear 0.1s;
}