#cursor {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #F86F03;
    position: fixed;
    z-index: 99;
    transition: all linear 0.1s;
}
#cursor-blur {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color:#f86d037f;
    position: fixed;
    z-index: 9;
    filter: blur(50px);
    transition: all linear 0.1s;
}